<div class="columns is-gapless is-multiline is-mobile">
<div class="column is-12-mobile is-4-tablet is-4-desktop is-4-widescreen is-4-fullhd">
<div class="post__recent" data-sal="zoom-in" data-sal-duration="650" style="width: 94%;">
<a href="https://www.flemingsac.ca/new-events/voting-day?hsLang=en">
<div class="featured__image_post" style="background-image: url('https://www.flemingsac.ca/hubfs/Candidates%20will%20address%20the%20crowd%20and%20share%20their%20vision..png')">
</div>
</a>
<div class="content__post">
<!--                     <h3 class="box-text-date">
                      February
                      07,
                      2025
                    </h3> -->
<h5 class="box-text-title">
<a href="https://www.flemingsac.ca/new-events/voting-day?hsLang=en">
                        Voting Day
                      </a>
</h5>
<div class="read__more__link">
<a href="https://www.flemingsac.ca/new-events/voting-day?hsLang=en">
<img src="https://www.flemingsac.ca/hubfs/Flecha%20larga%20derecha.svg"/>
</a>
</div>
</div>
</div>
</div>
<div class="column is-12-mobile is-4-tablet is-4-desktop is-4-widescreen is-4-fullhd">
<div class="post__recent" data-sal="zoom-in" data-sal-duration="650" style="width: 94%;">
<a href="https://www.flemingsac.ca/new-events/movie-at-steele-centre?hsLang=en">
<div class="featured__image_post" style="background-image: url('https://www.flemingsac.ca/hubfs/Movie%20Night-Shrek_Screen_R1.png')">
</div>
</a>
<div class="content__post">
<!--                     <h3 class="box-text-date">
                      February
                      03,
                      2025
                    </h3> -->
<h5 class="box-text-title">
<a href="https://www.flemingsac.ca/new-events/movie-at-steele-centre?hsLang=en">
                        Movie at Steele Centre
                      </a>
</h5>
<div class="read__more__link">
<a href="https://www.flemingsac.ca/new-events/movie-at-steele-centre?hsLang=en">
<img src="https://www.flemingsac.ca/hubfs/Flecha%20larga%20derecha.svg"/>
</a>
</div>
</div>
</div>
</div>
<div class="column is-12-mobile is-4-tablet is-4-desktop is-4-widescreen is-4-fullhd">
<div class="post__recent" data-sal="zoom-in" data-sal-duration="650" style="width: 94%;">
<a href="https://www.flemingsac.ca/new-events/grab-go-breakfast-1?hsLang=en">
<div class="featured__image_post" style="background-image: url('https://www.flemingsac.ca/hubfs/Grab%20&amp;%20Go%20Breakfast%2020.png')">
</div>
</a>
<div class="content__post">
<!--                     <h3 class="box-text-date">
                      February
                      03,
                      2025
                    </h3> -->
<h5 class="box-text-title">
<a href="https://www.flemingsac.ca/new-events/grab-go-breakfast-1?hsLang=en">
                        Grab &amp; Go Breakfast
                      </a>
</h5>
<div class="read__more__link">
<a href="https://www.flemingsac.ca/new-events/grab-go-breakfast-1?hsLang=en">
<img src="https://www.flemingsac.ca/hubfs/Flecha%20larga%20derecha.svg"/>
</a>
</div>
</div>
</div>
</div>
<div class="column is-12-mobile is-4-tablet is-4-desktop is-4-widescreen is-4-fullhd">
<div class="post__recent" data-sal="zoom-in" data-sal-duration="650" style="width: 94%;">
<a href="https://www.flemingsac.ca/new-events/grad-photos-all-week?hsLang=en">
<div class="featured__image_post" style="background-image: url('https://www.flemingsac.ca/hubfs/Studio%20Nostalgia%20R.3%20%281%29.png')">
</div>
</a>
<div class="content__post">
<!--                     <h3 class="box-text-date">
                      February
                      03,
                      2025
                    </h3> -->
<h5 class="box-text-title">
<a href="https://www.flemingsac.ca/new-events/grad-photos-all-week?hsLang=en">
                        Grad Photos all week
                      </a>
</h5>
<div class="read__more__link">
<a href="https://www.flemingsac.ca/new-events/grad-photos-all-week?hsLang=en">
<img src="https://www.flemingsac.ca/hubfs/Flecha%20larga%20derecha.svg"/>
</a>
</div>
</div>
</div>
</div>
</div>