<div class="columns is-gapless is-multiline is-mobile">
<div class="column is-12-mobile is-4-tablet is-4-desktop is-4-widescreen is-4-fullhd">
<div class="post__recent" data-sal="zoom-in" data-sal-duration="650" style="width: 94%;">
<a href="https://www.flemingsac.ca/new-events/breakfast-grab-go-1-0?hsLang=en">
<div class="featured__image_post" style="background-image: url('https://www.flemingsac.ca/hubfs/Breakfast%202.png')">
</div>
</a>
<div class="content__post">
<!--                     <h3 class="box-text-date">
                      February
                      26,
                      2025
                    </h3> -->
<h5 class="box-text-title">
<a href="https://www.flemingsac.ca/new-events/breakfast-grab-go-1-0?hsLang=en">
                        Breakfast Grab &amp; Go
                      </a>
</h5>
<div class="read__more__link">
<a href="https://www.flemingsac.ca/new-events/breakfast-grab-go-1-0?hsLang=en">
<img src="https://www.flemingsac.ca/hubfs/Flecha%20larga%20derecha.svg"/>
</a>
</div>
</div>
</div>
</div>
<div class="column is-12-mobile is-4-tablet is-4-desktop is-4-widescreen is-4-fullhd">
<div class="post__recent" data-sal="zoom-in" data-sal-duration="650" style="width: 94%;">
<a href="https://www.flemingsac.ca/new-events/puppy-yoga?hsLang=en">
<div class="featured__image_post" style="background-image: url('https://www.flemingsac.ca/hubfs/Puppy%20Yoga_Screen_R1-01%203.png')">
</div>
</a>
<div class="content__post">
<!--                     <h3 class="box-text-date">
                      February
                      26,
                      2025
                    </h3> -->
<h5 class="box-text-title">
<a href="https://www.flemingsac.ca/new-events/puppy-yoga?hsLang=en">
                        Puppy Yoga
                      </a>
</h5>
<div class="read__more__link">
<a href="https://www.flemingsac.ca/new-events/puppy-yoga?hsLang=en">
<img src="https://www.flemingsac.ca/hubfs/Flecha%20larga%20derecha.svg"/>
</a>
</div>
</div>
</div>
</div>
<div class="column is-12-mobile is-4-tablet is-4-desktop is-4-widescreen is-4-fullhd">
<div class="post__recent" data-sal="zoom-in" data-sal-duration="650" style="width: 94%;">
<a href="https://www.flemingsac.ca/new-events/bollywood-night-with-dj-teebz?hsLang=en">
<div class="featured__image_post" style="background-image: url('https://www.flemingsac.ca/hubfs/Rquest%20your%20song!%202.png')">
</div>
</a>
<div class="content__post">
<!--                     <h3 class="box-text-date">
                      February
                      26,
                      2025
                    </h3> -->
<h5 class="box-text-title">
<a href="https://www.flemingsac.ca/new-events/bollywood-night-with-dj-teebz?hsLang=en">
                        Bollywood Night with DJ TEEBZ
                      </a>
</h5>
<div class="read__more__link">
<a href="https://www.flemingsac.ca/new-events/bollywood-night-with-dj-teebz?hsLang=en">
<img src="https://www.flemingsac.ca/hubfs/Flecha%20larga%20derecha.svg"/>
</a>
</div>
</div>
</div>
</div>
<div class="column is-12-mobile is-4-tablet is-4-desktop is-4-widescreen is-4-fullhd">
<div class="post__recent" data-sal="zoom-in" data-sal-duration="650" style="width: 94%;">
<a href="https://www.flemingsac.ca/new-events/lunch-grab-go-1?hsLang=en">
<div class="featured__image_post" style="background-image: url('https://www.flemingsac.ca/hubfs/Lunch.png')">
</div>
</a>
<div class="content__post">
<!--                     <h3 class="box-text-date">
                      February
                      26,
                      2025
                    </h3> -->
<h5 class="box-text-title">
<a href="https://www.flemingsac.ca/new-events/lunch-grab-go-1?hsLang=en">
                        Lunch Grab &amp; Go
                      </a>
</h5>
<div class="read__more__link">
<a href="https://www.flemingsac.ca/new-events/lunch-grab-go-1?hsLang=en">
<img src="https://www.flemingsac.ca/hubfs/Flecha%20larga%20derecha.svg"/>
</a>
</div>
</div>
</div>
</div>
<div class="column is-12-mobile is-4-tablet is-4-desktop is-4-widescreen is-4-fullhd">
<div class="post__recent" data-sal="zoom-in" data-sal-duration="650" style="width: 94%;">
<a href="https://www.flemingsac.ca/new-events/mario-kart-study-break?hsLang=en">
<div class="featured__image_post" style="background-image: url('https://www.flemingsac.ca/hubfs/Mario%20Kart_Screen_R1%202.png')">
</div>
</a>
<div class="content__post">
<!--                     <h3 class="box-text-date">
                      February
                      26,
                      2025
                    </h3> -->
<h5 class="box-text-title">
<a href="https://www.flemingsac.ca/new-events/mario-kart-study-break?hsLang=en">
                        Mario Kart Study Break
                      </a>
</h5>
<div class="read__more__link">
<a href="https://www.flemingsac.ca/new-events/mario-kart-study-break?hsLang=en">
<img src="https://www.flemingsac.ca/hubfs/Flecha%20larga%20derecha.svg"/>
</a>
</div>
</div>
</div>
</div>
<div class="column is-12-mobile is-4-tablet is-4-desktop is-4-widescreen is-4-fullhd">
<div class="post__recent" data-sal="zoom-in" data-sal-duration="650" style="width: 94%;">
<a href="https://www.flemingsac.ca/new-events/jackbox-games-thrusday?hsLang=en">
<div class="featured__image_post" style="background-image: url('https://www.flemingsac.ca/hubfs/Jackbox%20Games_Thrusday.png')">
</div>
</a>
<div class="content__post">
<!--                     <h3 class="box-text-date">
                      February
                      26,
                      2025
                    </h3> -->
<h5 class="box-text-title">
<a href="https://www.flemingsac.ca/new-events/jackbox-games-thrusday?hsLang=en">
                        Jackbox Games
                      </a>
</h5>
<div class="read__more__link">
<a href="https://www.flemingsac.ca/new-events/jackbox-games-thrusday?hsLang=en">
<img src="https://www.flemingsac.ca/hubfs/Flecha%20larga%20derecha.svg"/>
</a>
</div>
</div>
</div>
</div>
<div class="column is-12-mobile is-4-tablet is-4-desktop is-4-widescreen is-4-fullhd">
<div class="post__recent" data-sal="zoom-in" data-sal-duration="650" style="width: 94%;">
<a href="https://www.flemingsac.ca/new-events/jackbox-games?hsLang=en">
<div class="featured__image_post" style="background-image: url('https://www.flemingsac.ca/hubfs/Jackbox%20Games_Monday.png')">
</div>
</a>
<div class="content__post">
<!--                     <h3 class="box-text-date">
                      February
                      26,
                      2025
                    </h3> -->
<h5 class="box-text-title">
<a href="https://www.flemingsac.ca/new-events/jackbox-games?hsLang=en">
                        Jackbox Games
                      </a>
</h5>
<div class="read__more__link">
<a href="https://www.flemingsac.ca/new-events/jackbox-games?hsLang=en">
<img src="https://www.flemingsac.ca/hubfs/Flecha%20larga%20derecha.svg"/>
</a>
</div>
</div>
</div>
</div>
</div>