<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple-keyboard.css') }}">
    <script src="{{ url_for('static', filename='js/simple-keyboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home_scripts.js') }}"></script>
    
</head>
<body data-welcome-url="{{ url_for('welcome') }}">
    <div class="logo-container">
        <img src="{{ url_for('static', filename='images/fleminglogowhite.png') }}" alt="Fleming College Logo" class="logo">
    </div>
    <div class="header-container">
        <img src="{{ url_for('static', filename='images/Black_background.jpg') }}" alt="Background">
        <h1>Welcome to Fleming College</h1>
    </div>
    <div class="button-container">
        <button class="btn" onclick="showSection('map-section')">Campus Map</button>
        <button class="btn" onclick="showSection('schedule-section')">Event Schedule</button>
        <button class="btn" onclick="showSection('faqs-section')">FAQs</button>
        <button class="btn-blz" onclick="showSection('Chat-with-blaze')">Chat With Blaze</button>
        <button class="btn" onclick="showSection('game-section')">Play A Game</button>
    </div>
    <div id="welcome-video-section" class="content-section" style="display: block;">
        <div class="video-container">
            <video id="welcome-video" autoplay onended="showSection('map-section')"
                controlsList="nodownload noplaybackrate nofullscreen noremoteplayback"
                disablePictureInPicture>
                <source src="{{ url_for('static', filename='videos/welcome_video.mp4') }}" type="video/mp4">
            </video>
        </div>
    </div>
    <div id="map-section" class="content-section">
        <div class="map-container">
            <div class="map-content">
                <img id="map-image" src="{{ url_for('static', filename='images/campusmap-all-levels.png') }}" 
                    alt="Campus Map"
                    data-map-suther="{{ url_for('static', filename='images/campusmap-all-levels.png') }}"
                    data-map-frost-upper="{{ url_for('static', filename='images/frost_upper_level.png') }}"
                    data-map-frost-lower="{{ url_for('static', filename='images/frost_lower_level.png') }}">       
                <div class="campus-buttons">
                    <button class="btn-maps" onclick="changeMap('suther')">Sutherland Campus</button>
                    <button class="btn-maps" onclick="changeMap('frost')">Frost Campus</button>
                </div>
            </div>
            <div id="frost-levels" class="level-controls">
                <button class="btn-maps level-btn" onclick="changeFrostLevel('upper')">Upper Level</button>
                <button class="btn-maps level-btn" onclick="changeFrostLevel('lower')">Lower Level</button>
            </div>
        </div>
    </div>
    <div id="schedule-section" class="content-section">
        <h2>Fleming SAC Upcoming Events</h2>
        <img src="{{ url_for('static', filename='images/calendar.jpg') }}" id="calendar-img" alt="SAC Events">
        <div class="SAQ-QR">
            <img src="{{ url_for('static', filename='images/QR Codes/SAC Events Page.png') }}" alt="SAC Events">
        </div>
    </div>
  
    <div id="faqs-section" class="content-section">
        <h2>FAQs</h2>
        <p>Here are some frequently asked questions...</p>
        <div class="faq-section">
            <div class="column-faq left-faq"></div>
            <div class="column-faq middle-faq">
                <div id="response-box" class="text-box-faq box-left">Ask a Question!</div>
                <div id="answer-box" class="text-box-faq box-right">Blaze is here to help!</div>
                <img id="faq-image" syle="max-width: 100%; object-fit: contain;"src="" alt="FAQ Image" style="display: none; max-width: 200px;">
            </div>
            <div class="column-faq right-faq">
                <div class="sprite-faq"></div>
                <img src="{{ url_for('static', filename='images/blaze.png') }}" alt="Blaze Logo">
            </div>
        </div>
    </div>
    <div id="Chat-with-blaze" class="content-section">
        <h2>Chat With Blaze</h2>
        <p>Blaze is here to help you with any questions you may have!</p>
        <div class="chat-container">
            <div class="chat-column character">
                <img src="{{ url_for('static', filename='images/blaze.png') }}" alt="Blaze Mascot">
            </div>
            <div class="chat-column chat-boxes-container">
                <div class="chat-input-container">
                    <input type="text" id="chat-input" placeholder="Type here to ask a question..." onkeypress="handleEnterKey(event)">
                    <button class="mic-btn" onclick="startRecording()">
                        <img src="{{ url_for('static', filename='images/mic-icon.png') }}" alt="Microphone">
                    </button>
                </div>
                <div class="chat-output-container">
                    <textarea id="chat-output" readonly></textarea>
                </div>
            </div>
            <div class="chat-column blaze-logo">    
                <img src="{{ url_for('static', filename='images/blazelogo.png') }}" alt="Blaze Logo">
            </div>
            <div class="simple-keyboard"></div>
        </div>
    </div>
    <div id="game-section" class="content-section">
        <h2>Test Your Knowledge!</h2>
        <img id="motto" src="{{ url_for('static', filename='images/apply_yourself_here1.png') }}" alt="Motto">
        <div class="start-btn">
            <button class="btn" id="start-btn" onclick="startQuiz()">Start Game</button>
        </div>
    <div id="form-section" class="content-section">
        <h2>Enter Your Information to Play!</h2>
        <div class="form-container">
            <form id="form">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required><br><br>
        
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br><br>
        
                <label for="program">Program of Interest:</label>
                <input type="text" id="program" name="program" required><br><br>
        
                <button class='btn' type="submit" onclick="startQuiz()">Submit</button>
                <button class='btn' type="button" onclick="window.location.href='home'">Cancel</button>
            </form>
        </div>
    </div>    
    <div id="quiz-section" style="display: none">
        <div id="question-container">
          <h2 id="question"></h2>
        </div>
        <div id="answer-section">
            <button class="answer-btn" onclick="checkAnswer(0)"></button>
            <button class="answer-btn" onclick="checkAnswer(1)"></button>
            <button class="answer-btn" onclick="checkAnswer(2)"></button>
            <button class="answer-btn" onclick="checkAnswer(3)"></button>
        </div>
        <div id="feedback-section"></div>
        <button class="btn" id="next-btn" style='display: none' onclick="nextQuestion()">Next Question</button>
    </div>
</body>
</html>