<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Fleming College</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_welcome.css') }}">
    <script src="{{ url_for('static', filename='js/noise.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pipeline.js') }}"></script>
    <script src="{{ url_for('static', filename='js/welcome_scripts.js') }}"></script>
</head>
<body class="demo-5">
    <main>
        <div class="content content--canvas"></div>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/fleminglogowhite.png') }}" alt="Fleming College Logo" class="logo">
        </div>
        <div class="content-container">
            <h1>Welcome To Fleming College</h1>
            <nav>
                <button class="btn" onclick="welcomeTTSGreeting()">Click Here To Get Started</button>
            </nav>
        </div>

    </main>
</body>
</html>