<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Fleming College</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_welcome.css') }}">
 
</head>
<body>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='fleminglogo.png') }}" alt="Fleming College Logo" class="logo">
    </div>
    <div class="content-container">
        <h1>Welcome to Fleming College</h1>
        <nav>
            <a href="{{ url_for('home') }}" class="btn">Click here to get started</a>
        </nav>
    </div>
</body>
</html>